//- Project page dynamically injects project information from the appropriate res.locals

extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project.project_name 

        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies 
            li= technology.toUpperCase()

        a.btn-link(href=`${project.live_link}` target="_blank") Live Demo
        a.btn-link(href=`${project.github_link}` target="_blank") GitHub Repo

    .project-img-box.box
      each thumb in project.image_urls.thumbs
        img.project-img(src=`/${thumb.src}`, alt=`${thumb.alt}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
